.upperRow {
    font-family: 'Mulish', sans-serif;
    font-size: 1.5rem;
    color: #5f7069;
    margin: 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    margin: 0;
}
.wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: ghostwhite;
}
.table {
    width: 90vw;
    box-shadow: 0 0 30px rgba(67, 70, 64, 0.31);
    margin-bottom: 100px
}